

/* .cc{
 
    padding-left: 10cm;
} */
/* .vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
} */
.left{ 
  margin-top: 1.5rem;
  margin-left: 37rem;    
}
.Dropdown{
  /* display: none;
  position: absolute; */
  background-color: #f9f9f9;
padding-left: 70rem; 
}
